.container {
  width: 1100px;
  margin: 0 auto;
  overflow: auto;
  /* padding: 0 40px; */
  box-sizing: border-box;
}

.btn {
  display: flex;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  padding: 5px 7.5px;
  width: fit-content;
}

.btn img {
  width: 15px;
}

.btn p {
  margin: 0;
  margin-left: 5px;
  font-size: 12px;
  color: var(--primary-color);
}